/* .zone-adaptative {
	background-color: rgb(1, 131, 1);
}

@media screen and (max-width: 768px) {
	.zone-adaptative {
		background-color: rgb(2, 2, 246);
	}
}

@media screen and (max-width: 480px) {
	.zone-adaptative {
		background-color: rgb(248, 2, 2);
	}
} */
.zone-adaptative {
	width: 100%;
	background-color: red;
	height: 80px;
}

@media only screen and (min-width: 0px) and (max-width: 500px) {
	.zone-adaptative {
		background-color: rgb(255, 0, 225);
	}
}

@media only screen and (min-width: 500px) and (max-width: 1400px) {
	.zone-adaptative {
		background-color: blue;
	}
}

@media only screen and (min-width: 1400px) {
	.zone-adaptative {
		background-color: green;
	}
}
